/* Nav Bar Styling */
/* LOGO AND NAME */
.navbar, .bg-body-tertiary {
padding: 0;
}

.navbar-brand {
    float: left;
    color: rgb(181, 146, 84);
    font-family: 'Allure', cursive;
    background-color: #333;
    margin: 0;
    font-size: 25px;
}

.navbar-brand:hover {
    color: rgb(181, 146, 84);
}
#hogwartscrest {
    padding: 2px;
}
.container-fluid {
    background-color: #333;
}

.navbar-brand:focus {
color: goldenrod;
text-shadow:0px 0px 30px #fdec6e;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
transition: all 0.2s ease-in; 
}

/* Anchor Links */

#menu {
    padding-top: 1rem;
}

ul li {
   list-style-type: none;
   font-size: 15px;
   font-family: "helvetica", sans-serif;
   display: inline;
   justify-content: center;
}


a {
    color: rgb(181, 146, 84);
    text-decoration: none;
    display: inline;
}

/* Hero Image Section - Hogwarts Castle */

  .welcome {
    position: relative;
    margin: 0;
    height: 33%
  }
  
  .hogwarts-castle {
    margin: 0;
    padding-top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Dumbledore's Address Section */

  .bottomhalf {
    background-image: url('/assets/images/parchment.jpeg')
  }

  .headmasterwelcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  

  #headmaster {
    display: flex;
    flex-wrap: wrap;
  }

    .headmasterwelcomepic {
        flex: 1;
        margin: 10px;
      }

    .headmasterwelcomespeech {
    flex: 2;
    padding: 10px;
    color: #333;
    font-size: 18px;
  }
  
  .welcomespeechtitle {
    font-family: "Petit Formal Script", cursive;
    text-align: center;
    margin-top: 0;
  }
  
  .welcomespeech {
    flex: 1;
    color: #333;
    padding: 1rem;
    font-family: "EB Garamond", sans-serif;
  }
  .dumbledore-address {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
  }

  /* Flip Cards Section - Houses Crests and Information */

  .hogwartshouses {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2%;  
}

  .flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px #333;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5%;
  }
  
  #flip-card-griffindor {
    border: maroon solid 4px;
    background-color: maroon;
    color: gold;
    
  }

  #flip-card-ravenclaw {
    border: navy solid 4px;
    background-color: navy;
    color: darkgray;
  }

  #flip-card-hufflepuff {
    border: goldenrod solid 4px;
    background-color: goldenrod;
    color:black;
  }

  #flip-card-slytherin {
    border: darkgreen solid 4px;
    background-color: darkgreen;
    color:silver;
  }

  .flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    border-radius: 5%;
  }
  
  /* FOOTER STYLING */

.social-networks {
    padding: 10px;
    margin: 0px;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

i {
    color:  rgb(181, 146, 84);
    font-size: 40px;
}

i:hover {
    color: goldenrod;
    transform: scale(1.5);
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/*Responsiveness */

 /* Nav Bar Responsiveness */

 @media (min-width: 768px) { /* Show on screens larger than or equal to 768px */
  .navbar-brand .fulltitle {
    display: inline-block;
  }
}

 @media (max-width: 767px) {
    .navbar, .bg-body-tertiary {
      padding: 0;
    }
  
    .navbar-brand .fulltitle { /* Hide on screens smaller than 768px */
      display: none;
    }
    .navbar-brand {
      float: none;
      color: rgb(181, 146, 84);
      font-family: 'Allure', cursive;
      background-color: #333;
      margin: 0;
      font-size: 25px;
    }
  
    .container-fluid {
      background-color: #333;
      padding: 0.5rem;
    }
  
    #menu {
      margin: 0;
      padding-top: 0.5rem;
    }
  
    ul li {
      list-style-type: none;
      display: inline;
      color: rgb(181, 146, 84);
      margin-right: 1rem;
    }
  
    a {
      list-style-type: none;
      display: inline;
      color: rgb(181, 146, 84);
      font-family: "EB Garamond", serif;
      text-decoration: none;
      font-size: 20px;
    }
 }

/* Headmaster's Address Section */

@media screen and (max-width: 768px) {
    #headmaster {
      flex-direction: column;
    }
    .headmasterwelcomespeech {
      flex: none;
      font-size: 16px;
      line-height: 1.5;
      overflow-y: scroll;
    }
    }
    
    .headmasterwelcomepic {
      margin: 0 auto;
    }

    .welcomespeech {
      overflow: auto;
      max-width: 100%;
    }
    
    

/* Flip Card Responsiveness */

@media (max-width: 786px) {

  .hogwartshouses {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .flip-card-back {
    width:fit-content;
    
  }
}
  

 
  

  /* Burger menu for mobile */
  
 /* .navbar {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .burger-menu {
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }